<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:at.medevit.elexis.at.ecard.client.kse.ui.KonsultationenView">
         <command
               commandId="at.medevit.elexis.at.ecard.client.kse.command.KonsultationsbelegAnzeigen"
               label="Beleg anzeigen"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <instanceof
                           value="at.medevit.elexis.at.ecard.client.kse.model.annotated.Konsultationsbeleg">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:GINAMenu">
         <menu
               id="eCardMenu.KSE"
               label="Konsultationsverwaltung"
               tooltip="Konsultationsverwaltung, bzw. Krankenscheinersatz (KSE)">
            <command
                  commandId="at.medevit.elexis.at.ecard.client.kse.command.BehandlungsfallDurchfuehrenMitECard"
                  icon="rsc/icons/eCardIcon.png"
                  label="Behandlungsfall durchführen"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="at.medevit.elexis.at.ecard.client.base.sourceprovider.CardReaderStatusSourceProvider.CardReaderStatus">
                     <not>
                        <equals
                              value="1">
                        </equals>
                     </not>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="at.medevit.elexis.at.ecard.client.kse.command.BehandlungsfallDurchfuehrenMitOCard"
                  icon="rsc/icons/oCardIcon.png"
                  label="Behandlungsfall durchführen"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="at.medevit.elexis.at.ecard.client.base.sourceprovider.CardReaderStatusSourceProvider.CardReaderStatus">
                     <or>
                        <equals
                              value="1">
                        </equals>
                     </or>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="at.medevit.elexis.at.ecard.client.kse.command.KonsultationsDatenAnfordernSynchron"
                  label="Konsultationsdaten anfordern (synchron)"
                  style="push">
            </command>
            <command
                  commandId="at.medevit.elexis.at.ecard.client.kse.command.KonsultationsDatenAnfordernAsynchron"
                  label="Konsultationsdaten anfordern (asynchron)"
                  style="push">
            </command>
            <command
                  commandId="at.medevit.elexis.at.ecard.client.kse.command.OfflineKonsultationsdatenUebertragen"
                  label="Offline Konsultationen übertragen"
                  style="push">
            </command>
            <command
                  commandId="at.medevit.elexis.at.ecard.client.kse.command.LimitstaendeAnzeigen"
                  label="Limitstände anzeigen"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:at.medevit.elexis.at.ecard.client.base.ui.MessageView">
         <command
               commandId="at.medevit.elexis.at.ecard.client.kse.command.KonsultationsDatenAnfrageLoeschen"
               label="Konsultationsdatenanfrage löschen"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <and>
                        <instanceof
                              value="at.chipkarte.client.base.soap.Message">
                        </instanceof>
                        <test
                              property="at.medevit.elexis.at.ecard.client.kse.MessageAppidIsKse">
                        </test>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="at.medevit.elexis.at.ecard.client.kse.command.KonsultationsDatenHerunterladen"
               label="Konsultationsdaten importieren"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate>
                     <and>
                        <instanceof
                              value="at.chipkarte.client.base.soap.Message">
                        </instanceof>
                        <test
                              property="at.medevit.elexis.at.ecard.client.kse.MessageAppidIsKse">
                        </test>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="at.medevit.elexis.at.ecard.client.kse.command.BehandlungsfallDurchfuehrenMitECard"
            name="Behandlungsfall durchführen mit e-card">
      </command>
      <command
            id="at.medevit.elexis.at.ecard.client.kse.command.KonsultationsbelegAnzeigen"
            name="Konsultationsbeleg anzeigen">
      </command>
      <command
            id="at.medevit.elexis.at.ecard.client.kse.command.KonsultationsDatenAnfordernSynchron"
            name="Konsultationsdaten anfordern (synchron)">
      </command>
      <command
            id="at.medevit.elexis.at.ecard.client.kse.command.KonsultationsDatenAnfordernAsynchron"
            name="Konsultationsdaten anfordern (asynchron)">
      </command>
      <command
            id="at.medevit.elexis.at.ecard.client.kse.command.KonsultationsDatenAnfrageLoeschen"
            name="Konsultationsdatenanfrage löschen">
      </command>
      <command
            id="at.medevit.elexis.at.ecard.client.kse.command.KonsultationsDatenHerunterladen"
            name="Konsultationsdaten herunterladen">
      </command>
      <command
            id="at.medevit.elexis.at.ecard.client.kse.command.BehandlungsfallDurchfuehrenMitOCard"
            name="Behandlungsfall durchführen mit o-card">
      </command>
      <command
            id="at.medevit.elexis.at.ecard.client.kse.command.OfflineKonsultationsdatenUebertragen"
            name="Offline Konsultationsdaten übertragen">
      </command>
      <command
            id="at.medevit.elexis.at.ecard.client.kse.command.LimitstaendeAnzeigen"
            name="Limitstände anzeigen">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="at.medevit.elexis.at.ecard.client.kse.command.BehandlungsfallDurchfuehrenMitECard"
            commandId="at.medevit.elexis.at.ecard.client.kse.command.BehandlungsfallDurchfuehrenMitECard">
         <enabledWhen>
            <and>
               <with
                     variable="at.medevit.elexis.at.ecard.client.base.sourceprovider.CardReaderStatusSourceProvider.CardReaderStatus">
                  <or>
                     <equals
                           value="0">
                     </equals>
                     <equals
                           value="3">
                     </equals>
                  </or>
               </with>
               <with
                     variable="at.medevit.elexis.at.ecard.client.base.sourceprovider.DialogStatusSourceProvider.DialogStatus">
                  <equals
                        value="1">
                  </equals>
               </with>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="at.medevit.elexis.at.ecard.client.kse.command.KonsultationsbelegAnzeigen"
            commandId="at.medevit.elexis.at.ecard.client.kse.command.KonsultationsbelegAnzeigen">
      </handler>
      <handler
            class="at.medevit.elexis.at.ecard.client.kse.command.KonsultationsDatenAnfordernSynchron"
            commandId="at.medevit.elexis.at.ecard.client.kse.command.KonsultationsDatenAnfordernSynchron">
         <enabledWhen>
            <with
                  variable="at.medevit.elexis.at.ecard.client.base.sourceprovider.DialogStatusSourceProvider.DialogStatus">
               <or>
                  <equals
                        value="1">
                  </equals>
                  <equals
                        value="2">
                  </equals>
               </or>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="at.medevit.elexis.at.ecard.client.kse.command.KonsultationsDatenAnfordernAsynchron"
            commandId="at.medevit.elexis.at.ecard.client.kse.command.KonsultationsDatenAnfordernAsynchron">
         <enabledWhen>
            <with
                  variable="at.medevit.elexis.at.ecard.client.base.sourceprovider.DialogStatusSourceProvider.DialogStatus">
               <or>
                  <equals
                        value="1">
                  </equals>
                  <equals
                        value="2">
                  </equals>
               </or>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="at.medevit.elexis.at.ecard.client.kse.command.KonsultationsDatenAnfrageLoeschen"
            commandId="at.medevit.elexis.at.ecard.client.kse.command.KonsultationsDatenAnfrageLoeschen">
         <enabledWhen>
            <with
                  variable="at.medevit.elexis.at.ecard.client.base.sourceprovider.DialogStatusSourceProvider.DialogStatus">
               <or>
                  <equals
                        value="1">
                  </equals>
                  <equals
                        value="2">
                  </equals>
               </or>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="at.medevit.elexis.at.ecard.client.kse.command.KonsultationsDatenHerunterladen"
            commandId="at.medevit.elexis.at.ecard.client.kse.command.KonsultationsDatenHerunterladen">
         <enabledWhen>
            <with
                  variable="at.medevit.elexis.at.ecard.client.base.sourceprovider.DialogStatusSourceProvider.DialogStatus">
               <or>
                  <equals
                        value="1">
                  </equals>
                  <equals
                        value="2">
                  </equals>
               </or>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="at.medevit.elexis.at.ecard.client.kse.command.BehandlungsfallDurchfuehrenMitOCard"
            commandId="at.medevit.elexis.at.ecard.client.kse.command.BehandlungsfallDurchfuehrenMitOCard">
         <enabledWhen>
            <with
                  variable="at.medevit.elexis.at.ecard.client.base.sourceprovider.DialogStatusSourceProvider.DialogStatus">
               <or>
                  <equals
                        value="1">
                  </equals>
                  <equals
                        value="2">
                  </equals>
               </or>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="at.medevit.elexis.at.ecard.client.kse.command.OfflineKonsultationsdatenUebertragen"
            commandId="at.medevit.elexis.at.ecard.client.kse.command.OfflineKonsultationsdatenUebertragen">
      </handler>
      <handler
            class="at.medevit.elexis.at.ecard.client.kse.command.LimitstaendeAnzeigen"
            commandId="at.medevit.elexis.at.ecard.client.kse.command.LimitstaendeAnzeigen">
         <enabledWhen>
            <with
                  variable="at.medevit.elexis.at.ecard.client.base.sourceprovider.DialogStatusSourceProvider.DialogStatus">
               <not>
                  <equals
                        value="0">
                  </equals>
               </not>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="at.medevit.elexis.at.ecard.client.base.ecard"
            class="at.medevit.elexis.at.ecard.client.kse.ui.KonsultationenView"
            icon="rsc/icons/star_of_life-16_16.ico"
            id="at.medevit.elexis.at.ecard.client.kse.ui.KonsultationenView"
            name="Konsultationen"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="at.medevit.elexis.at.ecard.client.base.ui.preferencePage.GINAServicePreferencePage"
            class="at.medevit.elexis.at.ecard.client.kse.ui.preferencePage.GINAKSEServicePreferencePage"
            id="at.medevit.elexis.at.ecard.client.kse.ui.preferencePage.GINAKSEServicePreferencePage"
            name="Krankenscheinersatz">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="at.medevit.elexis.at.ecard.client.kse.propertyTester.MessageAppidIsKse"
            id="at.medevit.elexis.at.ecard.client.kse.MessageAppidIsKse"
            namespace="at.medevit.elexis.at.ecard.client.kse"
            properties="MessageAppidIsKse"
            type="at.chipkarte.client.base.soap.Message">
      </propertyTester>
   </extension>

</plugin>
